@font-face {
  font-family: "HelveticaNeue";
  src: url(./fonts/HelveticaNeue-Roman.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "HelveticaNeue", sans-serif;
}